

html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

#student-desk {
    margin: auto;
    margin-top: 3%;
}

#teacher-desk {
    margin: auto;
    margin-top: 3%;
}




#after-text {
    font-size: 20px;
    margin-left: 0%;
}

#before-text {
    font-size: 20px;
    margin-left: 0%;
}

#explanation {
    margin-top: 5%;    
    margin-left: 80%;

}